*{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.text--big{
    font-size: 1.5rem;
}

.container{
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
    border-width: 0 0 1px 0;
    outline: 0;
}

.box{
    display: none;
}

.fadeable {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition:             opacity 2s;
        -moz-transition:    opacity 2s;
        -ms-transition:     opacity 2s;
        -o-transition:      opacity 2s;
        -webkit-transition: opacity 2s;
}

.fade-out {
    opacity: 0;
    transition:             opacity 2s;
        -moz-transition:    opacity 2s;
        -ms-transition:     opacity 2s;
        -o-transition:      opacity 2s;
        -webkit-transition: opacity 2s;
}
